<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        {% for message in messages %}
            <form class="form-floating mb-3">
                 <textarea class="form-control" id="{{ message.id }}">{{ message.content }}</textarea>
                 <label for="{{ message.id }}">
                     {% if message.role == "system" %}
                        System message
                     {% elif message.role == "user" %}
                        User message
                    {% elif message.role == "assistant" %}
                        Assistance message
                    {% endif %}
                 </label>
                <textarea class="form-control">{{ message.rawData }}</textarea>
            </form>
        {% endfor %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>